body {
    background-color: #252525;
    color: #fff;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#title {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.main div {
    margin-top: 10px;
}

#logo img {
    width: 150px;
}

#cover-art img {
    width: 500px;
}